body {
    font-family: Helvetica, Arial, serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    z-index: -1;
}

header {
    display: flex;
    height: 69px;
    position: fixed;
    top: 0;
    text-align: start;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 2;
}

#site-name {
    display: flex;
    float: left;
    position: relative;    
    top: 0px;
    font-size: 50px;
    margin: 10px;

    
}

.headnav {
    display: flex;       
    position: absolute;
    bottom: 0;
    right: 0;
    
}
a {
    display: flex;    
    padding: 10px;    
    text-decoration: underline;
    color: seashell;    
}

#our-mission {
    display: inline-block;
    height: 700px; 
    width: 1200px;   
    align-content: center;
    background-image: url("resources/img-mission-background.jpg");
    z-index: 1;
    position: relative;
    top: 70px;
    flex-wrap: wrap;
}

.headline{
    display: block;
    width: 100%;
    position: absolute;
    top: 40%;
    background-color: black;
    height: 160px;
}

#featured {
    display: inline-block;
    width: 1000px;
    position: relative;
    top: 100px;
    flex-wrap: wrap;
}

#teas {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

img {
    height: 200px;
    width: 300px;    
}

figure {
    margin: 10px;
}

#locations {
    display: flex;
    position: relative;
    top: 150px;
    left: 20%;
    height: 500px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    background-image: url("resources/img-locations-background.png");
    flex-wrap: wrap;
    z-index: 0;
}

#loc-header {
    position: relative;
    top: 20px;
    width: 100%;
    margin: 0 auto;
}

.locations {
    margin: 15px 40px;
    height: 200px;
    width: 300px;
    background-color: rgba(0, 0, 0, 1);
    align-content: center;
    
}

#contact {
    text-align: center;
    position: relative;
    top: 100px;
    margin: 100px;
    height: 200px;
}

footer {
    text-align: left;
    position: relative;
    left: 20px;
}